body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
#createNoteBtn {
  background-color: #70002e;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#createNoteBtn:hover {
  background-color: black;
}
.sticky-note {
  background-color: #70002e;
  width: 200px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.note-title {
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.note-deadline {
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
}

.sticky-note textarea {
  border: none;
  flex: 1;
  width: 100%;
  height: 160%;

  resize: none;
  font-size: 14px;
  outline: none;
}

.sticky-note .delete-btn {
  position: absolute;
  color: darkred;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 14px;
  background: none;
  border: none;
  padding: 0;
  color: #777;
  transition: color 0.3s ease-in-out;
}

.sticky-note .delete-btn:hover {
  color: black;
}
